.headerContainer {
    grid-area: header;
    background-color: #EDF2F7;
    display: flex;
    
}

.header {
    padding: 24px;
}

.header img {
    width: 80px;
}

/* .Logo {
    color: #304FFE;
} */